#signin {
    background-color: #18acb1; /* Red */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#signin:hover {
    background-color: #2c71c08a;
}

#terms {
    color: white;
}

body {
    background-color: #1974c452;
    background-image: url(./pharmaceutical-pills-background-medicine-drugs-in-capsules-medical-tablets-on-prescription-for-treatment-illustration-vector.jpg);
}

section {
    background-color: #690606c0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;  
}

img {
    width: 100px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: -20px;
    size: 20px;
    border-left: 20px;
}