img {
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 100%; 
    height: 300px;
    color: wheat;
    background-color: rgba(237, 241, 173, 0.342);
}

footer{
    text-align: center;
    text-decoration: solid;
    padding: 10px;
    margin: 10px;
}